# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
debug.py


# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
pat.env
ngrok.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

setup.md
gcp_build.txt
set_wsl.sh

# Terraform local directory & state
infra/.terraform/
infra/gcp-sa-key.json
infra/*.tfstate
infra/*.tfstate.backup
infra/.terraform.lock.hcl


data/*.csv
iot_models/optimized/iso.pkl
